<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>New Clear.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A46138917FE41551000E0B1</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>1A461D925A757ACFE6E350D1</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>1A461EA2A58242394238B38E</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
